{% extends base_layout %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <style type="text/css" media="screen">
        .record_actions,
        .inline-actions {
            list-style-type: none;
            margin: 0;
        }
        .record_actions li,
        .inline-actions li {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block body %}
<div class="page-content redirection">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage  }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage  }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                {% block left_nav %}
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Actions</li>
                        <li><a href="{{ path('redirection_new') }}"><i class="icon-plus-sign"></i> New redirection</a></li>
                    </ul>
                </div>
                {% endblock %}
            </div>
            <div class="span9">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}